* {
    box-sizing: border-box;
}

html {
    @include text-format($size: 62.5%);
}

body {
    @include text-format($size: 16px);
}

.hollow {
    color: $theme-background;
    -webkit-text-stroke: 1px $white; 
}
