$white: rgb(247, 244, 241);
$black: rgb(0, 0, 0);
$theme-color: rgb(132, 255, 15);
$theme-background: rgb(32, 39, 55);
$section-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;